/************************************/
/* GOOGLE FONTS */
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:wght@400;600;700&display=swap");

/************************************/
/* CUSTOM PROPERTY*/
/************************************/

/************************************/
/* GOOGLE FONTS */
/************************************/

/************************************/
/* CUSTOM PROPERTY*/
/************************************/
:root {
  /* width */
  --max-width: 144rem;
  /* colors */
  --les-petits-plats-white: #ffffff;
  --les-petits-plats-black: #000000;
  --les-petits-plats-grey-1: #e7e7e7;
  --les-petits-plats-grey-2: #c7bebe;
  --les-petits-plats-blue: #3282f7;
  --les-petits-plats-green: #68d9a4;
  --les-petits-plats-red: #ed6454;
  /* shadows */
  --les-petits-plats-1: 0 5px 15px rgba(0, 0, 0, 0.2);
  --les-petits-plats-2: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  --les-petits-plats-3: 0 5px 15px rgba(0, 0, 0, 0.4);

  /* fontsize */
  --les-petits-plats-fs-1: 1.2rem;
  --les-petits-plats-fs-2: 1.8rem;
  --les-petits-plats-fs-3: 2.4rem;

  /* font weight */
  --les-petits-plats-fw-400: 400;
  --les-petits-plats-fw-600: 600;
  --les-petits-plats-fw-700: 700;
}
/************************************/
/* GLOBAL STYLES*/
/************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  box-shadow: 0 0 0 1px red;
} */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: #ffffff;
  font-size: 1.2rem;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

img,
button,
a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: none;
  outline: none;
  /* font-weight: var(--les-petits-plats-fw-700); */
  font-size: 1.8rem;
}

/************************************/
/* REUSED STYLE */
/************************************/

.section-center {
  width: 86.12vw;
  max-width: 144rem;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/************************************/
/* KEYFRAMES*/
/************************************/
/************************************/
/* HEADER */
/************************************/
.header {
  margin: 4.2rem auto 1.7rem auto;
}
.header__logo {
  width: 26.8rem;
}

/************************************/
/* MAIN */
/************************************/
main .search {
  width: 86.12vw;
  max-width: 144rem;
  margin: 0 auto;
}
main .search__input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2.5rem;
}

main .search__input {
  height: 6.9rem;
  color: black;
  /* color: #e7e7e7; */
  background: #e7e7e7;
  border-radius: 5px;
  padding: 2.4rem 8rem 2.4rem 2.4rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .search__button {
  position: absolute;
  width: 3.206rem;
  background: transparent;
  right: 2.4rem;
  top: 1.75rem;
}

/************************************/
/* Filters */
/************************************/

#filters {
  gap: 2rem;
  display: flex;
  align-items: center;
}
.filter__ingredients,
.filter__appliances,
.filter__ustensils {
  position: relative;
  margin-bottom: 70px;
  height: 0px;
  background: yellowgreen;
}
.filter__ingredients--container,
.filter__appliances--container,
.filter__ustensils--container {
  position: relative;
  /* position: absolute; */
  width: 17rem;
  height: 6.9rem;
  border-radius: 5px;
  padding: 2.5rem 2.4rem;
  transition: all 0.3s ease-in-out;
  max-height: 397px;
  overflow: hidden;
}

.filter__ingredients--container {
  background: var(--les-petits-plats-blue);
}
.filter__appliances--container {
  background: var(--les-petits-plats-green);
}
.filter__ustensils--container {
  background: var(--les-petits-plats-red);
}

#ingredients-input {
  width: 600px;
  background: transparent;
}

.recipe__list__container--items,
.appliance__list__container--items,
.ustensil__list__container--items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  max-height: 275px;
  gap: 1rem;
  font-size: var(--les-petits-plats-fs-2);
  color: var(--les-petits-plats-white);
  margin-top: 20px;
  animation: title 0.5s ease-in-out;
}

.filter__ingredients__title,
.filter__appliances__title,
.filter__ustensils__title {
  font-size: var(--les-petits-plats-fs-2);
  color: var(--les-petits-plats-white);
  font-weight: var(--les-petits-plats-fw-700);
  width: 100%;
}
.filter__ingredients__title h2,
.filter__appliances__title h2,
.filter__ustensils__title h2 {
  font-size: var(--les-petits-plats-fs-2);
  animation: title 0.5s ease-in-out;
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#filter__ingredients__title--icon--down,
#filter__ingredients__title--icon--up,
#filter__appliances__title--icon--down,
#filter__appliances__title--icon--up,
#filter__ustensils__title--icon--down,
#filter__ustensils__title--icon--up {
  display: block;
  cursor: pointer;
  color: var(--les-petits-plats-white);
  font-size: var(--les-petits-plats-fs-2);
}

.filter__ingredients--input,
.filter__appliances--input,
.filter__ustensils--input {
  display: none;
  color: var(--les-petits-plats-white);
  /* padding-bottom: 20px; */
}
.filter__ingredients--input {
  background: var(--les-petits-plats-blue);
}
.filter__appliances--input {
  background: var(--les-petits-plats-green);
}
.filter__ustensils--input {
  background: var(--les-petits-plats-red);
}

.filter__ingredients--input::placeholder,
.filter__appliances--input::placeholder,
.filter__ustensils--input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#filter__ingredients__title--icon--up,
#filter__appliances__title--icon--up,
#filter__ustensils__title--icon--up {
  display: none;
}

/* tags */
.ingredients__tag {
  /* background: #68d9a4; */
}
.ingredient__tag,
.appliance__tag,
.ustensil__tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  color: var(--les-petits-plats-white);
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  gap: 5px;
}
#selected__tags {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  margin-bottom: 30px;
}
.ingredient__tag {
  background: var(--les-petits-plats-blue);
}
.appliance__tag {
  background: var(--les-petits-plats-green);
}
.ustensil__tag {
  background: var(--les-petits-plats-red);
}
/************************************/
/* CARD */
/************************************/
.recipes__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: 100%;
  margin: 2.5rem auto 2.5rem auto;
}

@media (max-width: 900px) {
  .recipes__container {
    grid-template-columns: repeat(2, 1fr);
    /* background: #68d9a4; */
  }
}
@media (max-width: 650px) {
  #filters {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .recipe__list__container--items,
  .appliance__list__container--items,
  .ustensil__list__container--items {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  #ingredients-input {
    width: 200px;
  }
  .search__input-ingredients {
  }
}

@media (max-width: 600px) {
  .recipes__container {
    grid-template-columns: 1fr;
  }
}

.recipe__card__header--image {
  width: 100%;
  height: 20rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.recipe__card {
  width: 100%;
  height: 40.066rem;
  border-radius: 5px;
  background: var(--les-petits-plats-grey-1);
}

.recipe__card__description {
  padding: 2rem;
}
.recipe__card__description--title {
  font-size: var(--les-petits-plats-fs-2);
}

/* ingredients details */
.recipe__card__description__ingredients--container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipe__card__description__ingredients {
  height: 10.5rem;
  overflow-y: scroll;
  padding-right: 1rem;
}
.recipe__card__description__ingredients--details {
  height: 10.5rem;
  overflow-y: scroll;
}

.recipe__card__description__ingredients--item {
  display: flex;
  flex-wrap: wrap;
}

.recipe__card__description--ingredients__item--quantity,
.recipe__card__description--ingredients__item--unit {
  margin-left: 5px;
}

.filter__ingredients--list {
  /* display: none; */
}
/************************************/
/* FOOTER */
/************************************/
