/************************************/
/* GOOGLE FONTS */
/************************************/

/************************************/
/* CUSTOM PROPERTY*/
/************************************/
//width
$max-width: 144rem;
// colors
$les-petits-plats-white: #ffffff;
$les-petits-plats-black: #000000;
$les-petits-plats-grey-1: #e7e7e7;
$les-petits-plats-grey-2: #c7bebe;
$les-petits-plats-blue: #3282f7;
$les-petits-plats-green: #68d9a4;
$les-petits-plats-red: #ed6454;
// shadows
$les-petits-plats-1: 0 5px 15px rgba(0, 0, 0, 0.2);
$les-petits-plats-2: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
$les-petits-plats-3: 0 5px 15px rgba(0, 0, 0, 0.4);

// fontsize
$les-petits-plats-fs-1: 1.2rem;
$les-petits-plats-fs-2: 1.8rem;
$les-petits-plats-fs-3: 2.4rem;

//font weight
$les-petits-plats-fw-400: 400;
$les-petits-plats-fw-600: 600;
$les-petits-plats-fw-700: 700;
